<div class='mt-20'>
  <%= form_for @user do |f| %>
    <div class="form__group">
      <%= f.label :first_name, "First Name"%>
      <%= f.text_field :first_name %>
    </div>
    <div class="form__group">
      <%= f.label :last_name, "Last Name"%>
      <%= f.text_field :last_name %>
    </div>
    <div class="form__group">
      <%= f.label :email, "Email *"%>
      <%= f.email_field :email %>
    </div>
    <div class="form__group">
      <%= f.label :password, "Password *"%>
      <%= f.password_field :password %>
    </div>
    <div class="form__group">
      <%= f.label :confirm_password, "Confirm Password *"%>
      <%= f.text_field :confirm_password %>
    </div>

    <%= f.submit "Submit" %>

  <% end %>
</div>