<div class='mt-20'>
  <p> Sign In</p>
  <%= form_tag sign_in_path, :method => :get do %>
    <div class="form__group">
      <%= label_tag :email, "Email"%>
      <%= email_field_tag :email %>
    </div>

    <div class="form__group">
      <%= label_tag :password, "Password"%>
      <%= password_field_tag :password %>
    </div>

    <%= submit_tag "Submit" %>

  <% end %>

</div>